html,
body {
    margin: 0;
    padding: 0;
    background-image: none;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}


* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    font-family: Georgia, "Source Han Serif CN";
}

.nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 6.25rem;
    z-index: 100;
}

.head {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.left {
    display: flex;
    padding-left: 120px;
    justify-content: flex-start;
}

.left img {
    width: 10rem;
    height: 4rem;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.right-1 {
    display: flex;
    justify-content: flex-end;
}

.center {
    margin-top: 15px;
    margin-right: 50px;
    justify-content: center;
    box-sizing: border-box;

}



.center:last-child {
    margin-right: 20px;
}

.center a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center a .text,
.center a .text,
.center a .eng {
    color: rgba(232, 230, 227, 0.8);
}

.right-1 {
    list-style: none;
    padding: 0 20px;
    margin-right: 80px;
}

.text-none {
    text-decoration: none;
    color: #e8e6e3;
}

.text {
    transform: scale(1.5);
    margin-bottom: 0%;

}

.eng {
    transform: scale(0.8);
}

.center a:hover .text,
.center a:hover .eng {
    color: #bd6f39;
    transition: all 0.3s ease;
}

.audio-control {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.audio-control img {
    width: 40px;
    height: 40px;
}

.vertin {
    position: relative;
}

.vertin .first-1 {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 5%;
}

.vertin .first-2 {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 5%;
}

.download {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    bottom: 0%;
    right: 5%;
    margin-right: 10px;
}

.first-4 a img {
    width: 20px;
    height: 20px;
}

.first-4-1 {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.first-4-1 a img:first-child {
    margin-bottom: 10px;
}

.first-4-2 {
    display: flex;
    flex-direction: column;
}

.first-4-2 a img:first-child {
    margin-bottom: 10px;
}